<div id="item">
    <div class="item-header">
        <h1 class="item-title">
            <%- title %>
        </h1>
        <div class="item-date">
            <%- date_created_day %>
            <%= date_created_month %>
            <%= date_created_year %>
        </div>
    </div>
    <div class="item-body">
        <div class="item-description">
            <%= description %>
        </div>
        <div class="item-date">
            <%= date_due_day %>
            <%= date_due_month %>
            <%= date_due_year %>
        </div>
    </div>
</div>